/* Error: expected ";".
 *    ,
 * 55 |     gap: 20px; /* Espacio entre los elementos *∕
 *    |        ^
 *    '
 *   scss\main.scss 55:8  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 55 \2502      gap: 20px; /* Espacio entre los elementos */\d\a    \2502         ^\a    \2575 \a   scss\\main.scss 55:8  root stylesheet';
}
