@charset "UTF-8";
img {
  float: left;
  width: 80px;
  height: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(13, 110, 253);
}
body .body-background {
  background-color: rgb(13, 110, 253); /* Color de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
  background-repeat: no-repeat; /* No repetir la imagen de fondo */
  padding: 20px; /* Espaciado interno */
  color: rgb(255, 255, 255); /* Color del texto */
}

@font-face {
  font-family: "Gwendolin";
  src: url(/fonts/Gwendolyn-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "Gwendolin", sans-serif;
}

h1 {
  font-family: "Gwendolin", sans-serif;
}

footer {
  background-color: #000000; /* Color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  text-align: center; /* Alineación del texto al centro */
  padding: 10px; /* Espaciado interno */
  width: 100%; /* Ancho igual al 100% del contenedor */
}

.redes a {
  color: blue; /* Color del texto azul */
  font-size: 35px; /* Tamaño de fuente de 35px */
  letter-spacing: 20px; /* Espaciado entre letras de 20px */
}

section {
  margin: 0; /* Establece el margen exterior a 0 */
  padding: auto; /* Establece el relleno a automatico */
  font-size: 20px; /* Tamaño de fuente */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* Familia de fuentes primero Arial */
}

article {
  height: 500px; /* Altura del artículo */
  padding-top: 15px; /* Espaciado superior */
  padding-right: 10px; /* Espaciado derecho */
}
article ul li {
  list-style: none; /* Quita los puntos de la lista */
}

.alineado-parrafo {
  margin-left: 30px; /* Margen izquierdo para alinear párrafos */
}

main {
  display: flex; /* Se establece el contenedor principal como flexbox */
  flex-direction: column; /* Dirección de los elementos: columna */
  align-items: center; /* Centra los elementos horizontalmente */
  gap: 20px; /* Espacio entre los elementos */
}

h2 {
  font-size: 40px; /* Tamaño de fuente grande */
  text-align: left; /* Alineación del texto a la izquierda */
   margin-right: 2px; /* Margen superior para separar del icono */
   padding: 18px; /* Espaciado interno */   
}

h4 {
  padding: 18px; /* Espaciado interno */
  font-size: 36px; /* Tamaño de fuente grande */
  text-align: left; /* Alineación del texto a la izquierda */
}

.col-sm-12.col-md-6 {
  background-image: url(https://www.instagram.com/p/CXQ4XParqoi/?igsh=NGc0czF4bHdnYzRk);
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-position: center; /* Centra la imagen */
}

.container {
  padding: 10px; /* Relleno de 10px en todos los lados del contenedor */
}

.parrafo-principal {
  font-size: 20px; /* Tamaño de fuente de 14px */
  text-align: left; /* Alineación del texto a la izquierda */
  padding: 18px; /* Espaciado interno */
}

.videosCentrado {
  margin-top: 15px; /* Margen superior de 15px */
  margin-bottom: 10px; /* Margen inferior de 10px */
  text-align: center; /* Alineación del texto al centro */
  color: rgb(255, 255, 255); /* Color del texto */
  text-shadow: dark 0.8; /* Sombra de texto */
}

video {
  max-height: 500px; /* Establece la altura máxima del video */
  max-width: 370px; /* Establece el ancho máximo del video */
  display: block; /* Asegura que el video se muestre como un bloque */
  margin-left: auto; /* Centra el video horizontalmente */
  margin-right: auto; /* Centra el video horizontalmente */
}

/* Cambia el color del icono de deslizamiento del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); /* Invierte el color del icono */
}

.solicitar-link {
  display: inline-block; /* Establece el elemento como bloque en línea */
  background-color: rgb(13, 110, 253); /* Color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  padding: 10px 20px; /* Relleno */
  text-decoration: none; /* Quita la decoración de enlace */
  border-radius: 5px; /* Borde redondeado */
}

.icono {
  max-width: 20px; /* Ancho máximo */
  display: block; /* Establece el elemento como bloque */
  height: auto; /* Altura automática */
  margin-bottom: 20px; /* Margen inferior de 20px */
}

.contenedor-recuadros {
  display: flex; /* Establece el contenedor como flexbox */
  flex-direction: column; /* Dirección de los elementos: columna */
  align-items: center; /* Centra los elementos horizontalmente */
  max-width: 300px; /* Establece un ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  /* Estilos para el contenedor del mapa */
  /* Estilos para el elemento del mapa */
  /* modificar la barra */
  /* Estilos para la barra de desplazamiento en navegadores WebKit (Chrome, Safari, Opera) */
  /* Estilos para la barra de desplazamiento en navegadores Firefox */
  /* Estilos para la barra de desplazamiento en navegadores Internet Explorer */
  /* Estilos para la barra de desplazamiento en navegadores Opera */
  /* Estilos específicos para dispositivos móviles */
  /* dispositivos con un ancho máximo de 320px (modo vertical) */
  /* dispositivos con un ancho máximo de 480px (modo horizontal) */
  /* Estilos para tabletas pequeñas con una resolución de 600x800 */
  /* Estilos para tabletas de 600x1024 en modo vertical */
  /* Estilos para tabletas de 10 pulgadas en modo vertical */
  /* Estilos para tabletas como el iPad en modo horizontal y algunas pantallas de ordenador portátil, netbook y de escritorio */
  /* Estilos para pantallas medianas */
  /* Estilos para pantallas panorámicas de al menos 1200px (principalmente portátiles y de escritorio) */
}
.contenedor-recuadros .recuadro {
  height: 150px; /*Alto*/
  width: 150px; /* Ancho */
  background-color: rgb(255, 255, 255); /* Color de fondo */
  text-align: center; /* Alineación del texto al centro */
  border-radius: 4px solid #000000;
  /* Borde sólido con color negro */
  padding: 15px; /* Espaciado interno */
  max-height: 150px; /* Altura máxima */
  overflow: hidden; /* Oculta la barra de desplazamiento */
  margin: 15px; /* Margen */
  text-transform: uppercase; /*transformar el texto en mayúsculas*/
  display: flex; /* Establece el contenedor como flexbox */
  justify-content: space-between; /* Distribuye los elementos uniformemente a lo largo del eje principal */
  flex-direction: column; /* Dirección de los elementos: en formato columna */
  transition: 0.7s; /* Transición con duración de 0.7 segundos */
}
.contenedor-recuadros .recuadro a {
  text-decoration: none; /* Elimina el subrayado */
}
.contenedor-recuadros .recuadro:hover {
  transform: scale(0.7); /* Reduce el tamaño del elemento al 70% */
  background-color: #000000; /* Cambia el color de fondo a negro */
  border-radius: 20px; /* Establece un radio de borde de 20px */
  color: rgb(255, 255, 255); /* Color del texto */
}
.contenedor-recuadros .recuadroMasPeque {
  height: 80px; /*Alto*/
  width: 80px; /* Ancho */
  background-color: rgb(255, 255, 255); /* Color de fondo */
  text-align: center; /* Alineación del texto al centro */
  border: 4px solid #000000; /* Borde sólido con color negro */
  max-height: 150px; /* Altura máxima */
  overflow: hidden; /* Oculta la barra de desplazamiento */
  margin: 15px; /* Margen */
  text-transform: uppercase; /*transformar el texto en mayúsculas*/
  display: flex; /* Establece el contenedor como flexbox */
  justify-content: space-between; /* Distribuye los elementos uniformemente a lo largo del eje principal */
  flex-direction: column; /* Dirección de los elementos: en formato columna */
  transition: 0.7s; /* Transición con duración de 0.7 segundos */
}
.contenedor-recuadros .recuadroMasPeque a {
  text-decoration: none; /* Elimina el subrayado */
}
.contenedor-recuadros .recuadroMasPeque:hover {
  transform: scale(0.7); /* Reduce el tamaño del elemento al 70% */
  background-color: #000000; /* Cambia el color de fondo a negro */
  border-radius: 20px; /* Establece un radio de borde de 20px */
  color: rgb(255, 255, 255); /* Color del texto */
}
.contenedor-recuadros .mapa-contenedor {
  /* Establece la posición relativa para que los elementos absolutos se posicionen relativamente a este contenedor */
  position: relative;
  /* Ancho del contenedor al 100% del ancho de su contenedor padre, importante para ocupar todo el espacio disponible */
  width: 100% !important;
  /* Altura del contenedor al 100% del alto de su contenedor padre, también importante para ocupar todo el espacio disponible */
  height: 100% !important;
  /* Establece un relleno en la parte superior del contenedor que mantiene una relación de aspecto de 4:3 (ancho:alto) */
  padding-top: 75%; /* Ajusta según sea necesario */
  /* Utiliza un modelo de caja flexible para centrar el contenido vertical y horizontalmente */
  display: flex;
  align-items: center; /* Centra verticalmente los elementos secundarios */
  justify-content: center; /* Centra horizontalmente los elementos secundarios */
}
.contenedor-recuadros .mapa {
  /* Establece la posición absoluta para colocar el mapa dentro del contenedor sin afectar al diseño del resto del contenido */
  position: absolute;
  /* Coloca el borde superior del mapa en la parte superior del contenedor padre */
  top: 0;
  /* Coloca el borde izquierdo del mapa en la parte izquierda del contenedor padre */
  left: 0;
  /* Ancho del mapa al 100% del ancho del contenedor padre */
  width: 100%;
  /* Altura del mapa al 100% del alto del contenedor padre */
  height: 100%;
}
.contenedor-recuadros .spacer {
  height: 90px; /* Altura espaciada */
}
.contenedor-recuadros .subrayado {
  text-decoration: underline; /* Subrayado */
}
.contenedor-recuadros button {
  background-color: rgb(13, 110, 253); /* Color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  border: none; /* Sin borde */
  padding: 5px 10px; /* Relleno */
  cursor: pointer; /* Cursor al señalar */
}
.contenedor-recuadros .body-background {
  background-color: rgb(13, 110, 253); /* Color de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
  background-repeat: no-repeat; /* No repetir la imagen de fondo */
  padding: 20px; /* Espaciado interno */
  color: rgb(255, 255, 255); /* Color del texto */
}
.contenedor-recuadros aside {
  text-align: center; /* Alineación del texto al centro */
}
.contenedor-recuadros aside p {
  display: inline-block; /* Permite centrar el elemento <p> horizontalmente */
}
.contenedor-recuadros .titulo {
  align-self: top; /* Alinea el título en la parte superior */
  text-align: top; /* Alineación del texto al tope */
  font-size: 20px; /* Tamaño de fuente */
  margin-bottom: 20px; /* Margen inferior */
}
.contenedor-recuadros .terapeutas-container {
  text-align: left; /* Alineación del texto a la izquierda */
  padding: 12px; /* Espaciado interno */
  text-shadow: #3000b3 0 -1px; /* Sombra de texto */
}
.contenedor-recuadros .Equipo-de-terapeutas {
  display: grid; /* Establece el contenedor como cuadrícula */
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr)); /* Columnas automáticas */
  gap: 10px; /* Espacio entre columnas */
  margin-top: 25px; /* Margen superior */
}
.contenedor-recuadros .about-grid {
  display: flex; /* Establece el contenedor como flexbox */
  grid-template-columns: 1fr; /* tamaño de las columnas en un contenedor de cuadrícula */
  align-items: center; /* Alinea verticalmente el contenido al centro */
  justify-content: center; /* Centra horizontalmente el contenido */
  margin-left: 40px; /* Espacio a la izquierda del elemento */
}
.contenedor-recuadros .service-container {
  max-width: 800px; /* Ancho máximo del contenedor */
  width: 100%; /* Ancho completo */
}
.contenedor-recuadros .service-contenido {
  margin-bottom: 20px; /* Margen inferior */
}
.contenedor-recuadros .aboutgaleria {
  display: grid; /* Establece el contenedor como una cuadrícula */
  grid-template-columns: repeat(4, 1fr); /* Define 4 columnas de igual ancho */
  grid-template-rows: repeat(3, 240px); /* Define 3 filas de 200px de alto cada una */
  grid-template-areas: "img1 img2 img3 img3" "img1 img4 img5 img6" "img7 img4 img8 img8"; /* Define el área de la cuadrícula para los elementos */
  grid-gap: 15px; /* Espacio entre las celdas de la cuadrícula */
  padding: 20px; /* Espacio interno del contenedor */
}
.contenedor-recuadros .item {
  border: 3px solid #000;
  background-size: cover;
  background-position: center;
  border-radius: 9px;
  filter: grayscale(20%);
  transition: all 0.9s;
}
.contenedor-recuadros .item:hover {
  filter: grayscale(0%);
  transform: scale(0.9) rotate(360deg);
}
.contenedor-recuadros .item.item1 {
  background-image: url("../assets/images/item1.jpg");
  grid-area: img1;
}
.contenedor-recuadros .item.item2 {
  background-image: url("../assets/images/item2.jpg");
  grid-area: img2;
}
.contenedor-recuadros .item.item3 {
  background-image: url("../assets/images/item3.jpg");
  grid-area: img3;
}
.contenedor-recuadros .item.item4 {
  background-image: url("../assets/images/item4.jpg");
  grid-area: img4;
}
.contenedor-recuadros .item.item5 {
  background-image: url("../assets/images/item5.jpg");
  grid-area: img5;
}
.contenedor-recuadros .item.item6 {
  background-image: url("../assets/images/item6.jpg");
  grid-area: img6;
}
.contenedor-recuadros .item.item7 {
  background-image: url("../assets/images/item7.jpg");
  grid-area: img7;
}
.contenedor-recuadros .item.item8 {
  background-image: url("../assets/images/item8.jpg");
  grid-area: img8;
}
.contenedor-recuadros .service-grid {
  display: flex; /* Establece el contenedor como flexbox */
  justify-content: center; /* Centra horizontalmente el contenido */
}
.contenedor-recuadros .whats {
  background-color: rgb(255, 235, 205); /* Color de fondo */
  color: rgb(34, 204, 12); /* Color del texto */
  height: 100px; /* Altura del elemento */
  width: 100px; /* Ancho del elemento */
  border: 2px solid; /* Grosor, estilo y color del borde */
  font-size: 45px; /* Tamaño de la fuente */
  right: 40px; /* Distancia desde el borde derecho */
  bottom: 40px; /* Distancia desde el borde inferior */
}
.contenedor-recuadros .contact {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding-top: 20px;
}
.contenedor-recuadros .subir {
  height: 20px; /* Altura del elemento */
  width: 20px; /* Ancho del elemento */
  background-color: #333; /* Color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  position: fixed; /* Posicionamiento fijo */
  border-radius: 50%; /* Forma redondeada */
  text-align: center; /* Alineación del texto */
  line-height: 20px; /* Altura de línea */
  font-size: 15px; /* Tamaño del texto */
  right: 20px; /* Distancia desde el borde derecho del contenedor padre */
  bottom: 100px; /* Distancia desde el borde inferior del contenedor padre */
}
.contenedor-recuadros input {
  border-radius: 10px; /* Radio de borde */
  text-align: center; /* Alineación del texto */
  padding: 3px; /* Espaciado interno */
  border: 4px #000000; /* Borde */
  font-size: 25px; /* Tamaño del texto */
  box-shadow: inset 0 0 5px; /* Sombra */
  background-color: rgb(255, 255, 255); /* Color de fondo */
  /* Estilos para diferentes tipos de input */
}
.contenedor-recuadros input[type=text] {
  height: 40px; /* Altura del campo de texto */
  color: rgb(13, 110, 253); /* Color del texto */
  margin: 0; /* Margen */
}
.contenedor-recuadros input[type=number] {
  height: 40px; /* Altura del campo de número */
  color: #3000b3; /* Color del texto */
  margin: 0; /* Margen */
}
.contenedor-recuadros input:focus {
  box-shadow: 0 0 15px 10px rgb(255, 255, 0); /* Sombra al enfocar */
  border: 5px; /* Borde al enfocar */
}
.contenedor-recuadros .fotoAgrandada img {
  padding-top: 15px;
  width: 70%;
  max-width: 70%;
  max-height: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.contenedor-recuadros .turnos {
  font-size: 30px; /* Tamaño del texto */
}
.contenedor-recuadros .formulario-turnos {
  display: flex; /* Establece el contenedor como un contenedor flexible */
  flex-direction: column; /* Establece la dirección de los elementos como columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
}
.contenedor-recuadros .formulario-turnos input:nth-of-type(3) { /* Selecciona el tercer input dentro del formulario de turnos */
  text-align: center; /* Alinea el texto al centro */
  color: rgb(255, 0, 0); /* Cambia el color del texto a rojo */
}
.contenedor-recuadros .formulario-turnos label {
  margin-left: 5px; /* Ajusta el espacio entre el input y la etiqueta */
}
.contenedor-recuadros .formulario-turnos input {
  margin-bottom: 15px; /* Espacio entre los input */
}
.contenedor-recuadros ::-webkit-scrollbar {
  background-color: #800080; /* Color de fondo de la barra de desplazamiento */
}
.contenedor-recuadros ::-webkit-scrollbar-thumb {
  background-color: rgb(255, 215, 0); /* Color del área deslizable de la barra de desplazamiento */
  border-radius: 10px; /* Radio de borde para la parte deslizable */
  border: black; /* Borde de la parte deslizable */
}
.contenedor-recuadros ::-moz-scrollbar {
  background-color: #800080; /* Color de fondo de la barra de desplazamiento */
}
.contenedor-recuadros ::-moz-scrollbar-thumb {
  background-color: rgb(255, 215, 0); /* Color del área deslizable de la barra de desplazamiento */
  border-radius: 10px; /* Radio de borde para la parte deslizable */
  border: #000000; /* Borde de la parte deslizable */
}
.contenedor-recuadros ::-ms-scrollbar {
  background-color: #800080; /* Color de fondo de la barra de desplazamiento */
}
.contenedor-recuadros ::-ms-scrollbar-thumb {
  background-color: mul; /* Color del área deslizable de la barra de desplazamiento */
  border-radius: 10px; /* Radio de borde para la parte deslizable */
  border: #000000;
}
.contenedor-recuadros ::-o-scrollbar {
  background-color: #800080; /* Color de fondo de la barra de desplazamiento */
}
.contenedor-recuadros ::-o-scrollbar-thumb {
  background-color: rgb(255, 215, 0); /* Color del área deslizable de la barra de desplazamiento */
  border-radius: 10px; /* Radio de borde para la parte deslizable */
  border: #000000; /* Borde de la parte deslizable */
}
.contenedor-recuadros .centralizado {
  display: flex; /* Utiliza el modelo de caja flexible */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}
.contenedor-recuadros .table-responsive {
  overflow-x: auto;
}
.contenedor-recuadros footer {
  background-color: #000000; /* Color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  text-align: center; /* Alineación del texto al centro */
  padding: 10px; /* Espaciado interno */
  width: 100%; /* Ancho igual al 100% del contenedor */
}
.contenedor-recuadros .redes a {
  color: rgb(13, 110, 253); /* Color del texto azul */
  font-size: 35px; /* Tamaño de fuente de 35px */
  letter-spacing: 20px; /* Espaciado entre letras de 20px */
  width: 100%; /* Ancho igual al 100% del contenedor */
}
.contenedor-recuadros .logo {
  width: 100px;
}
@media screen and (max-width: 320px) {
  .contenedor-recuadros .logo {
    width: 40px;
    height: 20px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-recuadros section {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-shadow: rgb(13, 110, 253) 0 -1px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 320px;
  }
  .contenedor-recuadros body {
    background-color: rgb(13, 110, 253);
    font-size: 16px;
    width: 100%;
  }
  .contenedor-recuadros nav, .contenedor-recuadros footer {
    width: 100%;
  }
  .contenedor-recuadros header {
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
    width: 320px;
  }
  .contenedor-recuadros nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
  .contenedor-recuadros nav ul li {
    display: flex;
    margin-bottom: 10px;
  }
  .contenedor-recuadros .descripcion {
    text-align: center;
    margin: 0 auto;
    width: 320px;
  }
  .contenedor-recuadros video {
    max-height: 480px;
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-recuadros footer {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    max-height: 480px;
    max-width: 320px;
  }
}
@media screen and (max-width: 480px) {
  .contenedor-recuadros .logo {
    width: 50px;
    height: 30px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-recuadros body {
    font-size: 16px;
  }
  .contenedor-recuadros header {
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
    width: 480px;
  }
  .contenedor-recuadros nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  .contenedor-recuadros nav ul li {
    display: flex;
    margin-bottom: 10px;
  }
  .contenedor-recuadros main {
    padding: 20px;
  }
  .contenedor-recuadros aside {
    padding: 20px;
  }
  .contenedor-recuadros video {
    max-height: 480px;
    max-width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-recuadros footer {
    padding: 20px;
    width: 480px;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .contenedor-recuadros .logo {
    width: 60px;
    height: 40px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-recuadros body {
    font-size: 16px;
  }
  .contenedor-recuadros header {
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
    width: 600px;
  }
  .contenedor-recuadros nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  .contenedor-recuadros nav ul li {
    display: flex;
    margin-bottom: 10px;
  }
  .contenedor-recuadros main {
    padding: 5%; /* Ajustar el relleno en porcentaje */
  }
  .contenedor-recuadros aside {
    padding: 5%; /* Ajustar el relleno en porcentaje */
  }
  .contenedor-recuadros video {
    max-height: 600px;
    max-width: 90%; /* Ajustar el ancho máximo del video en porcentaje */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-recuadros footer {
    padding: 5%; /* Ajustar el relleno en porcentaje */
    width: 90%; /* Ajustar el ancho del footer en porcentaje */
    text-align: center;
    margin: 0 auto; /* Ajustar los márgenes en porcentaje */
  }
  .contenedor-recuadros .alineado-parrafo {
    height: 400px;
  }
  .contenedor-recuadros .galeria {
    height: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  .contenedor-recuadros .logo {
    width: 100px; /* Ajustar el ancho del logo */
    height: 80px; /* Ajustar la altura del logo */
    margin-top: 15px; /* Ajustar el margen superior */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-recuadros header {
    padding: 10px;
    margin-top: 50px; /* Ajustar el margen superior */
    font-size: 20px;
    width: 90%; /* Ajustar el ancho del encabezado */
    text-align: center; /* Centrar el texto del encabezado */
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-recuadros nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  .contenedor-recuadros nav ul li {
    display: flex;
    margin-bottom: 10px; /* Ajustar el margen inferior */
  }
  .contenedor-recuadros main {
    padding: 5%; /* Ajustar el relleno en porcentaje */
  }
  .contenedor-recuadros aside {
    padding: 5%; /* Ajustar el relleno en porcentaje */
  }
  .contenedor-recuadros video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; /* Ajustar el ancho máximo del video en porcentaje */
  }
  .contenedor-recuadros footer {
    padding: 5%; /* Ajustar el relleno en porcentaje */
    text-align: center;
    margin: 5% auto; /* Ajustar los márgenes en porcentaje */
    width: 90%; /* Ajustar el ancho del footer en porcentaje */
  }
  .contenedor-recuadros .galeria {
    display: grid;
    grid-template-rows: 480px; /* Define filas de 480px de alto */
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .contenedor-recuadros .logo {
    width: 100px;
    height: 100px;
    margin-top: 15px;
  }
  .contenedor-recuadros body {
    font-size: 18px;
  }
  .contenedor-recuadros header {
    padding: 10px;
    margin-top: 5%; /* Ajustar el margen superior en porcentaje */
  }
  .contenedor-recuadros nav ul li {
    margin-right: 5%; /* Ajustar el margen derecho en porcentaje */
  }
  .contenedor-recuadros aside {
    padding: 40px;
  }
  .contenedor-recuadros video {
    max-height: 1024px;
    max-width: 768px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor-recuadros footer {
    padding: 20px;
    width: 768px;
    text-align: center;
    margin: 0 auto;
  }
  .contenedor-recuadros footer .redes a {
    font-size: 25px;
    letter-spacing: 10px;
  }
  .contenedor-recuadros .alineado-parrafo {
    font-size: 0.6rem; /* Tamaño de fuente ligeramente reducido */
  }
  .contenedor-recuadros .galeria h4 {
    font-size: 22px; /* Tamaño de fuente ajustado */
    margin-bottom: 15px; /* Margen inferior para separar los elementos */
  }
  .contenedor-recuadros .galeria p {
    font-size: 18px; /* Tamaño de fuente ajustado */
    margin-bottom: 15px; /* Margen inferior para separar los elementos */
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .contenedor-recuadros body {
    font-size: 20px;
  }
  .contenedor-recuadros header {
    padding: 40px;
  }
  .contenedor-recuadros nav ul li {
    margin-right: 30px;
  }
  .contenedor-recuadros aside {
    padding: 40px;
  }
  .contenedor-recuadros footer {
    padding: 40px;
  }
  .contenedor-recuadros .recuadro {
    width: 100%;
    padding: 40px;
  }
}
@media screen and (max-width: 768px) {
  .contenedor-recuadros .grid-item-hijo {
    padding: 10px;
    margin-bottom: 10px;
  }
  .contenedor-recuadros nav ul li {
    margin-right: 15px;
  }
  .contenedor-recuadros .recuadro {
    width: 100%;
  }
  .contenedor-recuadros .Equipo-de-terapeutas {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .contenedor-recuadros {
    /* Ejemplo de diseño de cuadrícula */
    /* Estilos específicos para elementos de la cuadrícula */
  }
  .contenedor-recuadros body {
    font-size: 16px;
  }
  .contenedor-recuadros .header {
    padding: 30px;
  }
  .contenedor-recuadros .navbar ul li {
    margin-right: 30px;
  }
  .contenedor-recuadros .sidebar {
    padding: 30px;
  }
  .contenedor-recuadros .recuadro {
    width: 100%;
  }
  .contenedor-recuadros .footer {
    padding: 30px;
  }
  .contenedor-recuadros .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }
  .contenedor-recuadros .grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
