@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gwendolyn";
  src: url(/fonts/Gwendolyn-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/RobotoSlab-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}
.Jumbotromp {
  background-color: rgb(13, 110, 253); /* color de fondo: negro */
  text-shadow: #000000 -2px; /* Sombra de texto */
  font-size: 16px; /* Tamaño de fuente */
  text-align: left; /* Alinea el texto a la izquierda */
}

img {
  float: left;
  width: 80px;
  height: 80px;
}

footer {
  margin-top: 20px;
  background-color: #000000; /* Color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  text-align: center; /* Alineación del texto al centro */
  padding: 10px; /* Espaciado interno */
  width: 100%; /* Ancho igual al 100% del contenedor */
}

.redes a {
  color: rgb(13, 110, 253); /* Color del texto azul */
  font-size: 35px; /* Tamaño de fuente de 35px */
  letter-spacing: 20px; /* Espaciado entre letras de 20px */
}

@font-face {
  font-family: "Gwendolyn";
  src: url(/fonts/Gwendolyn-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "Gwendolyn", Arial, sans-serif; /* Fuente Gwendolin */
  text-align: center; /* Alineación del texto al centro */
  padding: 18px; /* Espaciado interno */
  margin-right: 2px; /* Margen superior para separar del icono */
}

header nav ul li a {
  text-align: center; /* Alineación del texto al centro */
  list-style: none; /* Quita los puntos de la lista */
  margin-right: 30px; /* Margen derecho */
  margin-top: 15px; /* Margen superior */
  margin-bottom: 10px; /* Margen inferior */
  font-size: 20px; /* Tamaño de fuente */
  text-decoration: none !important; /* Elimina el subrrayado */
}

header nav ul li a:hover {
  color: green;
}

.favicon {
  vertical-align: middle;
}

body {
  height: 500px;
  /* Altura del 100% de la ventana del navegador */
  background-color: rgb(13, 110, 253);
  background-image: linear-gradient(to right, rgb(114, 239, 248), #0000ff);
  /* Degradado de colores */
  font-family: "Roboto Slab", Arial, sans-serif;
  font-size: 16px;
}

.body-background {
  background-color: rgb(13, 110, 253);
  /* Color de fondo */
  background-image: linear-gradient(to right, rgb(114, 239, 248), #0000ff);
  padding: 20px;
  /* Espaciado interno */
  color: rgb(255, 255, 255);
  /* Color del texto */
}

section {
  margin: 0;
  /* Establece el margen exterior a 0 */
  padding: auto;
  /* Establece el relleno a automatico */
  font-size: 20px;
  /* Tamaño de fuente */
  font-family: "Roboto Slab", Arial, sans-serif;
  /* Familia de fuentes primero Arial */
}

article {
  height: 500px;
  /* Altura del artículo */
  padding-top: 15px;
  /* Espaciado superior */
  padding-right: 10px;
  /* Espaciado derecho */
}
article ul li {
  list-style: none;
  /* Quita los puntos de la lista */
}

.alineado-parrafo {
  margin-left: 30px;
  /* Margen izquierdo para alinear párrafos */
}

main {
  display: flex;
  /* Se establece el contenedor principal como flexbox */
  flex-direction: column;
  /* Dirección de los elementos: columna */
  align-items: center;
  /* Centra los elementos horizontalmente */
  gap: 20px;
  /* Espacio entre los elementos */
}

h2 {
  font-size: 40px;
  /* Tamaño de fuente grande */
  text-align: center;
  /* Alineación del texto a la izquierda */
  padding: 10px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

h4 {
  padding: 18px;
  /* Espaciado interno */
  font-size: 36px;
  /* Tamaño de fuente grande */
  text-align: left;
  /* Alineación del texto a la izquierda */
}

.spacer {
  padding-left: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  /* Margen inferior de 20px */
  height: 90px;
  /* Altura espaciada */
}

.container {
  padding: 10px;
  /* Relleno de 10px en todos los lados del contenedor */
}

.parrafo-principal {
  font-size: 20px;
  /* Tamaño de fuente de 14px */
  text-align: left;
  /* Alineación del texto a la izquierda */
  padding: 18px;
  /* Espaciado interno */
}

.videosCentrado {
  margin-top: 40px;
  /* Margen superior de 15px */
  margin-bottom: 10px;
  /* Margen inferior de 10px */
  text-align: center;
  /* Alineación del texto al centro */
  color: rgb(255, 255, 255);
  /* Color del texto */
  text-shadow: dark 0.8;
  /* Sombra de texto */
}

video {
  max-height: 450px;
  /* Establece la altura máxima del video */
  max-width: 95%;
  /* Establece el ancho máximo del video */
  display: block;
  /* Asegura que el video se muestre como un bloque */
  margin-left: auto;
  /* Centra el video horizontalmente */
  margin-right: auto;
  /* Centra el video horizontalmente */
}

/* Cambia el color del icono de deslizamiento del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
  /* Invierte el color del icono */
}

.solicitar-link {
  display: inline-block;
  /* Establece el elemento como bloque en línea */
  background-color: rgb(13, 110, 253);
  /* Color de fondo */
  color: rgb(255, 255, 255);
  /* Color del texto */
  padding: 10px 20px;
  /* Relleno */
  text-decoration: none;
  /* Quita la decoración de enlace */
  border-radius: 5px;
  /* Borde redondeado */
}

.icono {
  max-width: 20px;
  /* Ancho máximo */
  display: block;
  /* Establece el elemento como bloque */
  height: auto;
  /* Altura automática */
  margin-bottom: 20px;
  /* Margen inferior de 20px */
}

.contenedor-recuadros {
  height: auto;
  /* Altura automática basada en el contenido */
  overflow: auto;
  /* Permite el desplazamiento si el contenido es más alto que el contenedor */
  width: 100%;
  /* Ancho del contenedor al 100% */
  display: flex;
  /* Establece el contenedor como flexbox */
  flex-direction: column;
  /* Dirección de los elementos: columna */
  align-items: center;
  /* Centra los elementos horizontalmente */
  margin: 0 auto;
  /* Centra el contenedor horizontalmente */
}
.contenedor-recuadros .recuadro {
  height: 160px;
  /*Alto*/
  width: 160px;
  /* Ancho */
  background-color: rgb(255, 255, 255);
  /* Color de fondo */
  text-align: center;
  /* Alineación del texto al centro */
  border-radius: 4px solid #000000;
  /* Borde sólido con color negro */
  padding: 15px;
  /* Espaciado interno */
  overflow: hidden;
  /* Oculta la barra de desplazamiento */
  margin: 15px;
  /* Margen */
  text-transform: uppercase;
  /*transformar el texto en mayúsculas*/
  display: flex;
  /* Establece el contenedor como flexbox */
  justify-content: space-between;
  /* Distribuye los elementos uniformemente a lo largo del eje principal */
  flex-direction: column;
  /* Dirección de los elementos: en formato columna */
  transition: 1.7s;
  /* Transición con duración de 0.7 segundos */
}
.contenedor-recuadros .recuadro a {
  text-decoration: none;
  /* Elimina el subrayado */
}
.contenedor-recuadros .recuadro:hover {
  transform: scale(0.7);
  /* Reduce el tamaño del elemento al 70% */
  background-color: #000000;
  /* Cambia el color de fondo a negro */
  border-radius: 20px;
  /* Establece un radio de borde de 20px */
  color: rgb(255, 255, 255);
  /* Color del texto */
}

.aboutgaleria {
  height: 90%;
  width: 90%;
  /* Ancho del contenedor al 100% */
  display: grid;
  /* Establece el contenedor como una cuadrícula */
  grid-template-columns: repeat(4, 1fr);
  /* Define 4 columnas de igual ancho */
  grid-template-rows: repeat(3, auto);
  /* Define 3 filas de 200px de alto cada una */
  grid-template-areas: "img1 img2 img3 img3" "img1 img4 img5 img6" "img7 img4 img8 img8";
  /* Define el área de la cuadrícula para los elementos */
  grid-gap: 15px;
  /* Espacio entre las celdas de la cuadrícula */
  padding: 20px;
  /* Espacio interno del contenedor */
}

.item {
  width: 200px;
  /* Ancho de los recuadros */
  height: 200px;
  /* Alto de los recuadros */
  border: 3px solid #000;
  background-size: cover;
  background-position: center;
  border-radius: 9px;
  filter: grayscale(20%);
  transition: all 0.9s;
}
.item:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
  z-index: 1;
  /* Asegura que la imagen en escala esté por encima de las otras */
}
.item.item1 {
  background-image: url("../assets/images/item1.jpg");
  grid-area: img1;
}
.item.item2 {
  background-image: url("../assets/images/item2.jpg");
  grid-area: img2;
}
.item.item3 {
  background-image: url("../assets/images/item3.jpg");
  grid-area: img3;
}
.item.item4 {
  background-image: url("../assets/images/item4.jpg");
  grid-area: img4;
}
.item.item5 {
  background-image: url("../assets/images/item5.jpg");
  grid-area: img5;
}
.item.item6 {
  background-image: url("../assets/images/item6.jpg");
  grid-area: img6;
}
.item.item7 {
  background-image: url("../assets/images/item7.jpg");
  grid-area: img7;
}
.item.item8 {
  background-image: url("../assets/images/item8.jpg");
  grid-area: img8;
}

.contenedor-recuadros img,
.aboutgaleria img {
  width: 100%;
  /* Ancho al 100% del contenedor padre */
  height: auto;
  /* Altura automática para mantener la proporción de la imagen */
}

.contenedor-padre {
  padding-top: 15px;
  position: relative;
  /* Establece la posición relativa para que los elementos absolutos se posicionen relativamente a este contenedor */
  width: 100%;
  /* Ancho al 100% del ancho de su contenedor padre */
  height: 100%;
  /* Altura al 100% del alto de su contenedor padre */
}

/* Estilos para el contenedor del mapa */
.mapa-contenedor {
  /* Establece la posición relativa para que los elementos absolutos se posicionen relativamente a este contenedor */
  position: relative;
  /* Ancho del contenedor al 100% del ancho de su contenedor padre, importante para ocupar todo el espacio disponible */
  width: 100% !important;
  /* Altura del contenedor al 100% del alto de su contenedor padre, también importante para ocupar todo el espacio disponible */
  height: 100% !important;
  /* Utiliza un modelo de caja flexible para centrar el contenido vertical y horizontalmente */
  display: flex;
  align-items: center;
  /* Centra verticalmente los elementos secundarios */
  justify-content: center;
  /* Centra horizontalmente los elementos secundarios */
}

/* Estilos para el elemento del mapa */
.mapa {
  /* Establece la posición absoluta para colocar el mapa dentro del contenedor sin afectar al diseño del resto del contenido */
  position: absolute;
  /* Coloca el borde superior del mapa en la parte superior del contenedor padre */
  top: 0;
  /* Coloca el borde izquierdo del mapa en la parte izquierda del contenedor padre */
  left: 0;
  /* Ancho del mapa al 100% del ancho del contenedor padre */
  width: 100%;
  /* Altura del mapa al 100% del alto del contenedor padre */
  height: 100%;
}

.subrayado {
  text-decoration: underline;
  /* Subrayado */
}

button {
  background-color: rgb(13, 110, 253);
  /* Color de fondo */
  color: rgb(255, 255, 255);
  /* Color del texto */
  border: none;
  /* Sin borde */
  padding: 5px 10px;
  /* Relleno */
  cursor: pointer;
  /* Cursor al señalar */
}

aside {
  text-align: center;
  /* Alineación del texto al centro */
}

aside p {
  display: inline-block;
  /* Permite centrar el elemento <p> horizontalmente */
  background-color: rgb(255, 255, 255);
}

.titulo {
  align-self: top;
  /* Alinea el título en la parte superior */
  text-align: top;
  /* Alineación del texto al tope */
  font-size: 20px;
  /* Tamaño de fuente */
  margin-bottom: 20px;
  /* Margen inferior */
}

.terapeutas-container {
  text-align: left;
  /* Alineación del texto a la izquierda */
  padding: 12px;
  /* Espaciado interno */
  text-shadow: #3000b3 0 -1px;
  /* Sombra de texto */
}

.Equipo-de-terapeutas {
  display: grid;
  /* Establece el contenedor como cuadrícula */
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  /* Columnas automáticas */
  gap: 10px;
  /* Espacio entre columnas */
  margin-top: 25px;
  /* Margen superior */
}

.about-grid {
  display: flex;
  /* Establece el contenedor como flexbox */
  align-items: center;
  /* Alinea verticalmente el contenido al centro */
  justify-content: center;
  /* Centra horizontalmente el contenido */
  margin-left: 40px;
  /* Espacio a la izquierda del elemento */
}

.service-container {
  max-width: 800px;
  /* Ancho máximo del contenedor */
  width: 100%;
  /* Ancho completo */
}

.service-contenido {
  margin-bottom: 20px;
  /* Margen inferior */
}

.service-grid {
  display: flex;
  /* Establece el contenedor como flexbox */
  justify-content: center;
  /* Centra horizontalmente el contenido */
}

.whats {
  background-color: rgb(255, 235, 205);
  /* Color de fondo */
  color: rgb(34, 204, 12);
  /* Color del texto */
  height: 100px;
  /* Altura del elemento */
  width: 100px;
  /* Ancho del elemento */
  border: 2px solid;
  /* Grosor, estilo y color del borde */
  font-size: 45px;
  /* Tamaño de la fuente */
  right: 40px;
  /* Distancia desde el borde derecho */
  bottom: 40px;
  /* Distancia desde el borde inferior */
}

.contact {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  padding-top: 20px;
}

.subir {
  height: 20px;
  /* Altura del elemento */
  width: 20px;
  /* Ancho del elemento */
  background-color: #333;
  /* Color de fondo */
  color: rgb(255, 255, 255);
  /* Color del texto */
  position: fixed;
  /* Posicionamiento fijo */
  border-radius: 50%;
  /* Forma redondeada */
  text-align: center;
  /* Alineación del texto */
  line-height: 20px;
  /* Altura de línea */
  font-size: 15px;
  /* Tamaño del texto */
  right: 20px;
  /* Distancia desde el borde derecho del contenedor padre */
  bottom: 100px;
  /* Distancia desde el borde inferior del contenedor padre */
}

input {
  border-radius: 10px;
  /* Radio de borde */
  text-align: center;
  /* Alineación del texto */
  padding: 3px;
  /* Espaciado interno */
  border: 4px #000000;
  /* Borde */
  font-size: 25px;
  /* Tamaño del texto */
  box-shadow: inset 0 0 5px;
  /* Sombra */
  background-color: rgb(255, 255, 255);
  /* Color de fondo */
  /* Estilos para diferentes tipos de input */
}
input[type=text] {
  height: 40px;
  /* Altura del campo de texto */
  color: rgb(13, 110, 253);
  /* Color del texto */
  margin: 0;
  /* Margen */
}
input[type=number] {
  height: 40px;
  /* Altura del campo de número */
  color: #3000b3;
  /* Color del texto */
  margin: 0;
  /* Margen */
}
input:focus {
  box-shadow: 0 0 15px 10px rgb(255, 255, 0);
  /* Sombra al enfocar */
  border: 5px;
  /* Borde al enfocar */
}

.fotoAgrandada img {
  padding-top: 15px;
  width: 50%;
  height: 50%;
  display: grid;
  margin-left: 15px;
  margin-right: 15px;
}

.turnos {
  font-size: 30px;
  /* Tamaño del texto */
}

.formulario-turnos {
  display: flex;
  /* Establece el contenedor como un contenedor flexible */
  flex-direction: column;
  /* Establece la dirección de los elementos como columna */
  justify-content: center;
  /* Centra verticalmente */
  align-items: center;
  /* Centra horizontalmente */
}

.formulario-turnos input:nth-of-type(3) {
  /* Selecciona el tercer input dentro del formulario de turnos */
  text-align: center;
  /* Alinea el texto al centro */
  color: rgb(255, 0, 0);
  /* Cambia el color del texto a rojo */
}

.formulario-turnos label {
  margin-left: 5px;
  /* Ajusta el espacio entre el input y la etiqueta */
}

.formulario-turnos input {
  margin-bottom: 15px;
  /* Espacio entre los input */
}

/* modificar la barra */
/* Estilos para la barra de desplazamiento en navegadores WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  background-color: #800080;
  /* Color de fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 215, 0);
  /* Color del área deslizable de la barra de desplazamiento */
  border-radius: 10px;
  /* Radio de borde para la parte deslizable */
  border: black;
  /* Borde de la parte deslizable */
}

/* Estilos para la barra de desplazamiento en navegadores Firefox */
::-moz-scrollbar {
  background-color: #800080;
  /* Color de fondo de la barra de desplazamiento */
}

::-moz-scrollbar-thumb {
  background-color: rgb(255, 215, 0);
  /* Color del área deslizable de la barra de desplazamiento */
  border-radius: 10px;
  /* Radio de borde para la parte deslizable */
  border: #000000;
  /* Borde de la parte deslizable */
}

/* Estilos para la barra de desplazamiento en navegadores Internet Explorer */
::-ms-scrollbar {
  background-color: #800080;
  /* Color de fondo de la barra de desplazamiento */
}

::-ms-scrollbar-thumb {
  background-color: mul;
  /* Color del área deslizable de la barra de desplazamiento */
  border-radius: 10px;
  /* Radio de borde para la parte deslizable */
  border: #000000;
}

/* Estilos para la barra de desplazamiento en navegadores Opera */
::-o-scrollbar {
  background-color: #800080;
  /* Color de fondo de la barra de desplazamiento */
}

::-o-scrollbar-thumb {
  background-color: rgb(255, 215, 0);
  /* Color del área deslizable de la barra de desplazamiento */
  border-radius: 10px;
  /* Radio de borde para la parte deslizable */
  border: #000000;
  /* Borde de la parte deslizable */
}

.centralizado {
  display: flex;
  /* Utiliza el modelo de caja flexible */
  justify-content: center;
  /* Centra los elementos horizontalmente */
  align-items: center;
  /* Centra los elementos verticalmente */
}

.table-responsive {
  overflow-x: auto;
}

.logo {
  width: 100px;
  height: auto;
}

.row {
  display: flex;
  height: 50%;
  width: 100%;
}

/* Estilos específicos para dispositivos móviles */
/* dispositivos con un ancho máximo de 320px (modo vertical) */
@media screen and (max-width: 320px) {
  .logo {
    width: 40px;
    height: 20px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  section {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-shadow: rgb(13, 110, 253) 0 -1px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 320px;
  }
  body {
    background-color: rgb(13, 110, 253);
    font-size: 16px;
    width: 100%;
  }
  nav,
  footer {
    width: 100%;
  }
  header {
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
    width: 320px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
  nav ul li {
    display: flex;
    margin-bottom: 10px;
  }
  .descripcion {
    text-align: center;
    margin: 0 auto;
    width: 320px;
  }
  video {
    max-height: 480px;
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    max-height: 480px;
    max-width: 320px;
  }
}
/* dispositivos con un ancho máximo de 480px (modo horizontal) */
@media screen and (max-width: 480px) {
  section {
    font-size: 16px;
  }
  article {
    height: auto;
    padding-right: 0;
  }
  h4 {
    font-size: 24px;
  }
  .videosCentrado {
    font-size: 18px;
  }
  .icono {
    max-width: 16px;
  }
  .aboutgaleria {
    height: auto;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5 {
    background-size: cover;
    background-position: center;
  }
  .titulo {
    font-size: 16px;
  }
  .terapeutas-container {
    padding: 8px;
  }
  .Equipo-de-terapeutas {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .about-grid {
    margin-left: 20px;
  }
  .service-container {
    max-width: 480px;
  }
  .whats {
    height: 60px;
    width: 60px;
    font-size: 30px;
    right: 20px;
  }
  .formulario-turnos label {
    margin-left: 0;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
  .logo {
    width: 80px;
    height: 60px;
    margin-top: 20px;
  }
  header {
    font-size: 12px;
    width: 100%;
  }
  video {
    max-height: 360px;
    max-width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  section {
    font-size: 14px;
  }
  article {
    height: auto;
    padding-right: 0;
  }
  h4 {
    font-size: 24px;
  }
  .videosCentrado {
    font-size: 16px;
  }
  .icono {
    max-width: 14px;
  }
  .aboutgaleria {
    height: auto;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5 {
    background-size: cover;
    background-position: center;
  }
  .titulo {
    font-size: 14px;
  }
  .terapeutas-container {
    padding: 8px;
  }
  .Equipo-de-terapeutas {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .about-grid {
    margin-left: 18px;
  }
  .service-container {
    max-width: 600px;
  }
  .contenedor-recuadros {
    height: 70%;
    width: 70%;
  }
  .contenedor-padre {
    margin-left: 12px;
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fotoAgrandada img {
    padding-top: 10px;
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .whats {
    height: 56px;
    width: 56px;
    font-size: 28px;
    right: 18px;
  }
  .formulario-turnos label {
    margin-left: 0;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
  .logo {
    width: 70px;
    height: 50px;
    margin-top: 18px;
  }
  header {
    font-size: 12px;
    width: 100%;
  }
  video {
    padding-top: 10px;
    max-width: 100%;
    max-height: 100%;
  }
}
.galeria.container-fluid {
  max-width: 600px;
  max-height: 800px;
  overflow: auto;
  /* Añade un scroll si el contenido es más grande */
  padding-left: 5px;
  padding-right: 5px;
}

.galeria .col-sm-12 {
  padding-left: 5px;
  padding-right: 5px;
}

/* Estilos para tabletas de 600x1024 en modo vertical */
@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  .logo {
    width: 100px;
    /* Ajustar el ancho del logo */
    height: 80px;
    /* Ajustar la altura del logo */
    margin-top: 15px;
    /* Ajustar el margen superior */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    padding: 10px;
    margin-top: 50px;
    /* Ajustar el margen superior */
    font-size: 20px;
    width: 90%;
    /* Ajustar el ancho del encabezado */
    text-align: center;
    /* Centrar el texto del encabezado */
    margin-left: auto;
    margin-right: auto;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  nav ul li {
    display: flex;
    margin-bottom: 10px;
    /* Ajustar el margen inferior */
  }
  main {
    padding: 5%;
    /* Ajustar el relleno en porcentaje */
  }
  aside {
    padding: 5%;
    /* Ajustar el relleno en porcentaje */
  }
  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    /* Ajustar el ancho máximo del video en porcentaje */
  }
  footer {
    padding: 5%;
    /* Ajustar el relleno en porcentaje */
    text-align: center;
    margin: 5% auto;
    /* Ajustar los márgenes en porcentaje */
    width: 95%;
    /* Ajustar el ancho del footer en porcentaje */
  }
  .galeria {
    display: grid;
    grid-template-rows: 480px;
    /* Define filas de 480px de alto */
  }
}
/* Estilos para tabletas de 10 pulgadas en modo vertical */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  header {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-top: 5%;
    /* Ajustar el margen superior en porcentaje */
    padding: 10px;
    letter-spacing: 10px;
  }
  header body {
    height: 500px;
    /* Altura del 100% de la ventana del navegador */
    background-color: rgb(13, 110, 253);
    background-image: linear-gradient(to right, rgb(114, 239, 248), #0000ff);
    /* Degradado de colores */
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 16px;
  }
  header body .body-background {
    background-color: rgb(13, 110, 253);
    /* Color de fondo */
    padding: 20px;
    /* Espaciado interno */
    color: rgb(255, 255, 255);
    /* Color del texto */
  }
  header nav ul li {
    margin-right: 5%;
    /* Ajustar el margen derecho en porcentaje */
  }
  header aside {
    padding: 40px;
  }
  header footer .redes a {
    font-size: 25px;
  }
  header video {
    max-height: 1024px;
    max-width: 768px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header footer {
    padding: 20px;
    width: 768px;
    text-align: center;
    margin: 0 auto;
  }
  .galeria h4 {
    font-size: 22px;
    /* Tamaño de fuente ajustado */
    margin-bottom: 15px;
    background-color: rgb(13, 110, 253);
    background-image: linear-gradient(to right, rgb(114, 239, 248), #0000ff);
    /* Degradado de colores */
    font-family: "Roboto Slab", Arial, sans-serif;
  }
  .body-background {
    background-color: rgb(13, 110, 253);
    /* Color de fondo */
  }
  aside {
    padding: 40px;
  }
  main {
    width: 100%;
    padding: 40px;
  }
  .alineado-parrafo {
    font-size: 0.6rem;
    /* Tamaño de fuente ligeramente reducido */
  }
  .alineado-parrafo .grid-item-hijo {
    padding: 10px;
    margin-bottom: 10px;
  }
  .alineado-parrafo nav ul li {
    margin-right: 15px;
  }
  .alineado-parrafo .recuadro {
    width: 100%;
  }
  .alineado-parrafo .galeria p {
    font-size: 18px;
    /* Tamaño de fuente ajustado */
    margin-bottom: 15px;
    /* Margen inferior para separar los elementos */
  }
  /* Estilos para tabletas como el iPad en modo horizontal y algunas pantallas de ordenador portátil, netbook y de escritorio */
  /* Estilos para pantallas medianas */
  /* Estilos para pantallas panorámicas de al menos 1200px (principalmente portátiles y de escritorio) */
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  body {
    height: 500px;
    /* Altura del 100% de la ventana del navegador */
    background-color: rgb(13, 110, 253);
    background-image: linear-gradient(to right, rgb(114, 239, 248), #0000ff);
    /* Degradado de colores */
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 16px;
  }
  body .body-background {
    background-color: rgb(13, 110, 253);
    /* Color de fondo */
    padding: 20px;
    /* Espaciado interno */
    color: rgb(255, 255, 255);
    /* Color del texto */
  }
  header {
    padding: 40px;
  }
  nav ul li {
    margin-right: 30px;
  }
  aside {
    padding: 40px;
  }
  footer {
    padding: 40px;
  }
  main {
    width: 100%;
    padding: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (max-width: 767px) {
  .grid-item-hijo {
    padding: 10px;
    margin-bottom: 10px;
  }
  nav ul li {
    margin-right: 15px;
  }
  .recuadro {
    width: 100%;
  }
  nav ul {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (min-width: 1367px) {
  body {
    height: 500px;
    /* Altura del 100% de la ventana del navegador */
    background-color: rgb(13, 110, 253);
    background-image: linear-gradient(to right, rgb(114, 239, 248), #0000ff);
    /* Degradado de colores */
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 16px;
  }
  body .body-background {
    background-color: rgb(13, 110, 253);
    /* Color de fondo */
    padding: 20px;
    /* Espaciado interno */
    color: rgb(255, 255, 255);
    /* Color del texto */
  }
  header {
    padding: 30px;
  }
  nav ul li {
    margin-right: 30px;
  }
  aside {
    padding: 30px;
  }
  main {
    width: 100%;
  }
  footer {
    padding: 30px;
  }
  /* Ejemplo de diseño de cuadrícula */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }
  /* Estilos específicos para elementos de la cuadrícula */
  .grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
