header {
    $ancho: 750px;
    $alto: 180px;    
}

header, nav, main, aside {
    width: 100%;
}

h1 {
    font-family: $tg; /* Fuente Gwendolin */
    text-align: $centro; /* Alineación del texto al centro */
    padding: 18px; /* Espaciado interno */
    margin-right: 2px; /* Margen superior para separar del icono */
}
