// Resetear estilos por defecto del navegador
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  background-color: $c1;
  .body-background {
      background-color: $c1; /* Color de fondo */
      background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
      background-repeat: no-repeat; /* No repetir la imagen de fondo */
      padding: 20px; /* Espaciado interno */
      color: $c3; /* Color del texto */
  }
}
